<html>
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <style>
        .input .el-textarea__inner {
            background-color: #fcfcfc;
        }


    </style>

</header>
<body style="padding: 0;margin: 0px">
<div id="app">
    <el-row style="padding: 10px;background: #f0fff0;height: 100%">

        <el-row style="margin-bottom: 15px">
            <div style="margin-top: 10px">
                <a href="javascript:void (0)" @click="sys('result35_search')" style="margin-right: 50px">
                    登录
                </a>
                <a href="javascript:void (0)" @click="sys('result37_search')" style="margin-right: 50px">
                    登出
                </a>
                <a href="javascript:void (0)" @click="sys('result36_search')">
                    获取当前用户信息
                </a>
            </div>
        </el-row>


        <el-row>
            <el-col :span="16">
                <el-input v-model="url" placeholder="访问地址" size="mini"></el-input>
            </el-col>
            <el-col :span="8">
                <el-button-group style="display: flex;">

                    <el-button size="mini" type="primary"
                               v-if="!show_download_file && !show_upload_file"
                               @click="post"> 发送请求
                    </el-button>
                    <el-button size="mini" type="danger"
                               v-if="show_download_file"
                               @click="download"> 下载文件
                    </el-button>
                    <el-button size="mini" type="danger"
                               v-if="show_upload_file"
                               @click="upload"> 上传文件
                    </el-button>
                    <el-button size="mini" type="warning" @click="toJSON"> 格式化</el-button>
                </el-button-group>

            </el-col>

        </el-row>
        <el-col :span="4">
            <el-row v-for="(item,index) in urls" :key="index">


                <h3 v-if="item.type=='title'">{{item.name}}</h3>
                <div v-else>

                   <i v-if="item.show_download_file || item.show_upload_file" style="color: red" class="el-icon-tickets"></i>
                    <a href="javascript:void (0)" @click="change(item)">
                        {{item.name}}
                    </a>
                </div>

            </el-row>


        </el-col>

        <el-col :span="8">

            <el-row style="display: flex">
                <form id="form" v-if="show_upload_file">
                    <input type="file" name="file">
                </form>
            </el-row>

            <el-input
                    type="textarea"
                    class="input"
                    :rows="30"
                    placeholder="请输入请求内容"
                    v-model="params">
            </el-input>

        </el-col>
        <el-col :span="12">

            <el-input
                    class="input"
                    type="textarea"
                    :rows="2"
                    placeholder="返回内容"
                    v-model="result"
                    rows="30"
            >
            </el-input>

        </el-col>

    </el-row>
</div>


</body>

<script src="./vue.js"></script>
<script src="./axios.min.js"></script>
<!-- import JavaScript -->
<script src="./index.js"></script>
<script src="./jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                url: "/template_data/data",
                params: '{"service":"hrm.user_list"}',
                result: "",
                show_download_file: false,
                show_upload_file: false,
                urls: [
                    {
                        type: "title",
                        name: "用户管理"
                    },
                    {
                        type: "url",
                        name: "用户查询",
                        data: '{"service":"hrm.user_list","search":"张","page":1,"size":20}'
                    },
                    {
                        type: "url",
                        name: "创建用户",
                        data: '{"service":"hrm.create_user","username":"zhangsan","email":"1@163.com","statu":"1","nick":"张三","address":"长沙","tel":"188********"}'
                    },
                    {
                        type: "url",
                        name: "根据中文名称获取拼音码",
                        data: '{"service":"hrm.get_pinyin","content":"张治","result_name":"username"}'
                    },
                    {
                        type: "url",
                        name: "修改用户",
                        data: '{"service":"hrm.update_user_by_userid","userid":"c85ed77a-4815-46c8-ad06-9ba2fdb257de","username":"zhangsan","email":"1@163.com","statu":"1","nick":"张三","address":"长沙","tel":"188********"}'
                    },
                    {
                        type: "url",
                        name: "删除用户",
                        data: '{"service":"hrm.delete_user_by_userid_list","userid_list":["330bc524-f934-4ddd-8560-405dce4a45d6"]}'
                    },
                    {
                        type: "url",
                        name: "批量更新用户,统一字段",
                        data: '{"service":"hrm.update_user_by_userid_list","userid_list":["c85ed77a-4815-46c8-ad06-9ba2fdb257de","e0ade542-1a41-45d8-bd31-5a5a32502ef9","fa44609d-2d24-424e-9be2-0cca94d678e1"],"fields":["*"],"nick":"张三","comments":""}'
                    },
                    {
                        type: "url",
                        name: "批量新建用户",
                        data: '{"service":"hrm.bulk_create_user","user_list":[{"username":"zhangsan","nick":"张治","email":"1@163.com","statu":1,"userpwd":"123456","address":"cs","tel":"18874948657"},{"username":"zhangsan3","nick":"张治1","email":"1@163.com","statu":1,"userpwd":"123456","address":"长沙","tel":"18874948657"}]}'
                    },
                    {
                        type: "url",
                        name: "根据用户ID批量更新",
                        data: '{"service":"hrm.bulk_update_user","fields":["*"],"user_list":[{"userid":"62bf15d1-5564-447d-ae80-34c529b3d17d","username":"zhangsan","nick":"张治1111","email":"1@163.com","statu":1,"userpwd":"123456","address":"cs11","tel":"18874948657"},{"username":"zhangsan3","userid":"d67e5dd6-909b-415b-aa73-dd4f532725f5","nick":"张治111","email":"1@163.com","statu":1,"userpwd":"123456","address":"长沙1111","tel":"18874948657"}]}'
                    },
                    {
                        type: "url",
                        name: "用户下载",
                        show_download_file: true,
                        data: '{"service":"hrm.user_list_download","search":"张","page":1,"size":20}'
                    },
                    {
                        type: "url",
                        name: "用户上传",
                        show_upload_file: true,
                        data: '{"service":"hrm.user_list_import"}'
                    },
                    {
                        type: "title",
                        name: "企业微信"
                    },
                    {
                        type: "url",
                        name: "企业微信生成token",
                        data: '{"service":"wechat.gettoken"}'
                    },
                    {
                        type: "url",
                        name: "获取企业微信用户列表",
                        data: '{"service":"wechat.user_list"}'
                    },
                    {
                        type: "url",
                        name: "根据电话号码获取用户ID",
                        data: '{"service":"wechat.get_userid"}'
                    },
                    {
                        type: "title",
                        name: "zabbix"
                    },
                    {
                        type: "url",
                        name: "查看zabbix分组，测试设置头",
                        data: '{"service":"zabbix.hostgroup"}'
                    },
                    {
                        type: "title",
                        name: "nexus"
                    },
                    {
                        type: "url",
                        name: "查看nexus 版本，测试basic auth",
                        data: '{"service":"nexus.version_search"}'
                    },
                    {
                        type: "title",
                        name: "partner"
                    },
                    {
                        type: "url",
                        name: "推送消息，直接传字符串",
                        data: '{"service":"partner.pushalertmsgzbx"}'
                    }
                ],
                test: {
                    result33_search: '{"service":"hrm.empty_test","username":"zhangzhi"}',
                    result35_search: '{"service":"system.login","username":"zhangzhi","password":"zhang@888"}',
                    result36_search: '{"service":"system.current_user"}',
                    result37_search: '{"service":"system.logout"}',

                }
            }
        },
        mounted() {

        },
        methods: {
            upload() {
                let formData = new FormData($("#form")[0])
                formData.append()
                let _this = this
                $.ajax({
                    url: _this.url,
                    type: "post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        // console.log(res)
                        _this.result = JSON.stringify(res, null, "\t")
                    },
                    error: function (res) {
                        console.log(res)

                    }
                })
            },
            upload() {
                let formData = new FormData($("#form")[0])
                let params = JSON.parse(this.params)
                for (let key in params){
                    formData.append(key, params[key])
                }
                let _this = this
                $.ajax({
                    url: _this.url,
                    type: "post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        // console.log(res)
                        _this.result = JSON.stringify(res, null, "\t")
                    },
                    error: function (res) {
                        console.log(res)

                    }
                })
            },

            convertRes2Blob(response) {
                // 提取文件名
                const fileName = response.headers['content-disposition'].match(
                    /filename=(.*)/
                )[1]
                // 将二进制流转为blob
                const blob = new Blob([response.data], {type: 'application/octet-stream'})
                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // 兼容IE，window.navigator.msSaveBlob：以本地方式保存文件
                    window.navigator.msSaveBlob(blob, decodeURI(fileName))
                } else {
                    // 创建新的URL并指向File对象或者Blob对象的地址
                    const blobURL = window.URL.createObjectURL(blob)
                    // 创建a标签，用于跳转至下载链接
                    const tempLink = document.createElement('a')
                    tempLink.style.display = 'none'
                    tempLink.href = blobURL
                    tempLink.setAttribute('download', decodeURI(fileName))
                    // 兼容：某些浏览器不支持HTML5的download属性
                    if (typeof tempLink.download === 'undefined') {
                        tempLink.setAttribute('target', '_blank')
                    }
                    // 挂载a标签
                    document.body.appendChild(tempLink)
                    tempLink.click()
                    document.body.removeChild(tempLink)
                    // 释放blob URL地址
                    window.URL.revokeObjectURL(blobURL)
                }
            },

            download() {


                let _this = this
                axios.post(this.url, JSON.parse(this.params), {
                    responseType: "blob"
                }).then(res => {

                    if (res.data instanceof Blob) {
                        this.convertRes2Blob(res)

                    } else {
                        _this.result = JSON.stringify(res.data, null, "\t")
                    }


                })

            },
            change(item) {
                let data = item.data

                this.show_download_file = false
                this.show_upload_file = false
                if (item.show_download_file) {
                    this.show_download_file = true
                } else if (item.show_upload_file) {
                    this.show_upload_file = true
                }
                try {
                    this.params = JSON.parse(data)
                    this.params = JSON.stringify(this.params, null, "   ")
                } catch (e) {
                    this.params = this.test[t]
                }
            },
            sys(t) {

                try {
                    this.params = JSON.parse(this.test[t])
                    this.params = JSON.stringify(this.params, null, "   ")
                } catch (e) {
                    this.params = this.test[t]
                }
            },
            async get() {
                var data = {}
                try {
                    data = JSON.parse(this.params)
                } catch (e) {

                }


                const response = await API.GET(this.url, data)
                if (response && response.data) {
                    this.result = JSON.stringify(response.data, null, "\t")
                } else {
                    this.result = response
                }

            },
            async post() {
                var data = {}
                try {
                    data = JSON.parse(this.params)
                } catch (e) {

                }
                let _this = this
                $.ajax({
                    url: _this.url,
                    headers: {
                        'token': 'weigao'
                    },
                    type: "post",
                    data: _this.params,
                    contentType: "application/json",
                    success: function (res) {
                        _this.result = JSON.stringify(res, null, "\t")
                    },
                    error: function (res) {
                        _this.result = res.responseText

                    }
                })


            },

            async post_params() {
                var data = {}
                try {
                    data = JSON.parse(this.params)
                } catch (e) {

                }


                const response = await API.POST_PARAMS(this.url, data)
                if (response && response.data) {
                    this.result = JSON.stringify(response.data, null, "\t")
                } else {
                    this.result = response
                }

            },

            async put() {
                var data = {}
                try {
                    data = JSON.parse(this.params)
                } catch (e) {

                }


                const response = await API.PUT(this.url, data)
                if (response && response.data) {
                    this.result = JSON.stringify(response.data, null, "\t")
                } else {
                    this.result = response
                }

            },
            toJSON() {
                // this.params = JSON.stringify(this.params)
                this.params = JSON.parse(this.params)
                this.params = JSON.stringify(this.params, null, "   ")
            },
            async remove() {
                var data = {}
                try {
                    data = JSON.parse(this.params)
                } catch (e) {

                }


                const response = await API.DELETE(this.url, data)
                if (response && response.data) {
                    this.result = JSON.stringify(response.data, null, "\t")
                } else {
                    this.result = response
                }

            }

        }


    })


</script>

</html>